Publicador de noticias/mi publicador de noticias.json
{
  "name": "mi publicador de noticias",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1580,
        120
      ],
      "id": "bd470ab8-2e07-428a-9cab-23be5eecf056",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a8929e99-1a1a-485d-9844-c25233b195e1",
              "name": "videoUrl",
              "value": "=https://www.youtube.com/watch?v={{ $('Buscar Video en YouTube').item.json.items[0].id.videoId }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1060,
        -140
      ],
      "id": "da8aea97-d9d1-411b-a28d-5e034331bf89",
      "name": "Construir las URLs del Video"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/search?part=snippet&maxResults=5&type=video&q=noticias+de+hoy+internacionales&order=relevance&key=AIzaSyBkwOWTVe_B3KV8YueHvJtuzMp9B8pV9Ow",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1420,
        -140
      ],
      "id": "71746482-aca7-4357-8aec-e26c9645cbb3",
      "name": "Buscar Video en YouTube"
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/youtube/v3/videos?part=snippet&id={{ $('Buscar Video en YouTube').item.json.items[0].id.videoId }}&key=AIzaSyBkwOWTVe_B3KV8YueHvJtuzMp9B8pV9Ow",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1240,
        -140
      ],
      "id": "a5b5006c-34d9-47d6-b14b-d0a791b23b44",
      "name": "Obtener Detalles del Video"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb1ac301-c544-4a37-9312-33dea52fcf23",
              "name": "finalMessage",
              "value": "={{ $('Unir Todo al Final').item.json.output.post_text }}",
              "type": "string"
            },
            {
              "id": "4f850d66-35de-4187-951d-8bcf1b02b0a5",
              "name": "imageUrl",
              "value": "={{ $('Unir Todo al Final').item.json.items[0].link }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -100,
        60
      ],
      "id": "7c3423fb-ce9c-4bcc-993c-be910a52129d",
      "name": "Preparar Post Final"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "902774331",
        "file": "={{$json.imageUrl}}",
        "additionalFields": {
          "caption": "={{ $json.finalMessage }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        120,
        -60
      ],
      "id": "8a87d885-7a80-4176-9688-536457597b46",
      "name": "Send a photo message",
      "webhookId": "10ed578f-d5a1-4e95-b310-6e04e28efb4c",
      "credentials": {
        "telegramApi": {
          "id": "XTmDBDAW0utZ2QVb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -740,
        300
      ],
      "id": "a74148f4-a4ad-4bd3-9434-52619f700602",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "DGVWWD0awTo3Jxrf",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analiza la siguiente noticia en video y genera una respuesta en formato JSON con dos campos: \"post_text\" y \"image_search_terms\".\n\nDATOS DEL VIDEO:\n- Título: {{ $('Obtener Detalles del Video').item.json.items[0].snippet.title }}\n- Descripción: {{ $('Obtener Detalles del Video').item.json.items[0].snippet.description }}\n- Enlace 1: {{ $('Merge').item.json.link_chongo }}\n\n\nINSTRUCCIONES PARA \"post_text\":\n1. Empieza con un encabezado muy llamativo que genere urgencia o sorpresa (ej: 🚨¡ESCÁNDALO TOTAL!💥).\n2. A continuación, desarrolla la noticia en un párrafo corto (2-3 frases). Menciona un detalle intrigante o el contexto del suceso para aumentar la curiosidad.\n3. Cierra con un llamado a la acción claro y atrayente para que abran el enlace de abjo del video.\n4. Incluye el enlace al final \n\nINSTRUCCIONES PARA \"image_search_terms\":\n- Identifica el tema central del video.\n- Crea una cadena de 3-4 palabras clave en inglés, separadas por guiones, ideales para una búsqueda de imágenes (ej: 'political-scandal-spain').",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Eres un gestor de redes sociales experto en noticias virales. Tu objetivo es crear textos cortos y potentes que maximicen la curiosidad y los clics. Usa un tono directo y intrigante. Usa hashtags para atraer mas vistas. \n\nIMPORTANTE: Responde únicamente con el texto del post. No incluyas frases introductorias como \"Claro\" o \"Aquí tienes\". Tu respuesta debe empezar directamente con los emojis."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -760,
        100
      ],
      "id": "b0aa4c16-4e8e-4e40-b4c5-538c59f1202d",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "sendTo": "chongo00011170428@gmail.com",
        "subject": "=Nuevo Post: {{ $('Obtener Detalles del Video').item.json.items[0].snippet.title }}",
        "message": "=<p>   {{ $('Preparar Post Final').item.json.finalMessage.replace(/\\n/g, '<br>') }} </p> <br> <img src=\"{{ $('Preparar Post Final').item.json.imageUrl }}\" alt=\"Imagen del Post\" style=\"max-width: 600px; height: auto;\">",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        100,
        120
      ],
      "id": "a8226aac-b544-4e6b-af05-f813dfba2a27",
      "name": "Send a message",
      "webhookId": "05143775-a55a-4d3e-8991-aed56a29d849",
      "credentials": {
        "gmailOAuth2": {
          "id": "QOqoeFplWD7QRpjb",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.cuty.io/quick?token=822bdf3696c1d2d0aabb3abd4&url={{ $json.videoUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1300,
        100
      ],
      "id": "52dfdfaf-5507-474c-99be-3616a4a69bff",
      "name": "Acortar el Link mio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11a5429f-804f-4635-b2de-7a75efe01740",
              "name": "link_chongo",
              "value": "={{ $json.short_url }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1120,
        100
      ],
      "id": "83e794e0-ffc8-4605-ba7d-176a0be8d428",
      "name": "set link chongo"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"post_text\": \"Este es un ejemplo del texto que generará la IA para la publicación en redes sociales. Debe ser un párrafo detallado e intrigante.\",\n  \"image_search_terms\": \"keyword-one-keyword-two-english\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -620,
        260
      ],
      "id": "b078ce57-ca05-47af-8c0f-782c7d40f4f5",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -300,
        80
      ],
      "id": "58fad165-0359-4251-8cda-9be182458815",
      "name": "Unir Todo al Final"
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/customsearch/v1?key=AIzaSyAw-Zz-hhLdQ8ME42H-Klf1jtWVRFeE_hU&cx=c6b7c341d37314a9d&q={{ encodeURIComponent($('Basic LLM Chain').item.json.output.image_search_terms) }}&searchType=image&num=1&safe=active",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        -100
      ],
      "id": "e942f870-5404-47a1-9ef4-4ca7c85d3c68",
      "name": "Buscar Imagen en Google"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -920,
        80
      ],
      "id": "220b0d34-ff09-47e4-a989-4a6d02596028",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Buscar Video en YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir las URLs del Video": {
      "main": [
        [
          {
            "node": "Acortar el Link mio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Video en YouTube": {
      "main": [
        [
          {
            "node": "Obtener Detalles del Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Detalles del Video": {
      "main": [
        [
          {
            "node": "Construir las URLs del Video",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Post Final": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Unir Todo al Final",
            "type": "main",
            "index": 1
          },
          {
            "node": "Buscar Imagen en Google",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acortar el Link mio": {
      "main": [
        [
          {
            "node": "set link chongo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set link chongo": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Unir Todo al Final": {
      "main": [
        [
          {
            "node": "Preparar Post Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Imagen en Google": {
      "main": [
        [
          {
            "node": "Unir Todo al Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8956d095-a18e-44c7-9ce9-794d9b1f785c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "86e739eea938306b865cd0a570e7d217fc7e4506f43d76afb9a8128192903df2"
  },
  "id": "dAvaRognxfkS1umw",
  "tags": []
}